* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  /* background-color: black; */
}

.main {
  display: flex;
  /* background-color: white; */
}

#main-image {
  width: auto;
  height: 80vh;
}
